.container{
    box-sizing: border-box;
    width: 23em;
    height: 14em;
    border: 1px solid #C9FFD1;
    border-radius: 10px;
    margin-top: 3em;
    margin-right: 2em;
}

.background{
    width: 23em;
    height: 14em;
    opacity: 0.5;
}

.summary{
    width: 8em;
    height: 10.25em;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5em;
    line-height: 2.375em;
    color: #FFFFFF;
    line-height: normal;
    margin-top: -2em;
    margin-left: 6em;
}

.image{
    width: 6em;
    height: 6em;
}