.background_note {
    width: 100%;
    height: 2em;
    top: 0px;
    background: #577A60;
}

.notification {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    padding-top: 0.35em;
    color: #FFFFFF;
    text-align: center;
}

.link{
    text-decoration-line: underline;
    color: #FFFFFF;
}

.link:hover {
    color: #C3FCC2;
}