.inline {
  display: inline-flex;
}

.center {
  display: table;
  margin: auto;
}

.container {
  display: table;
  margin: 7em auto;
}

.recap_header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  text-align: center;
  color: #ffffff;
}

.header_news_container {
  margin-top: 0.5em;
  width: 1050px;
  height: 150px;
  background: #282828;
  border-radius: 6px;
}

.market_summary {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  color: #c9ffd1;
  width: 100px;
  line-height: 1;
  margin-top: 1.2em;
  margin-left: 1em;
}

.highlight_container {
  margin-left: 1em;
}

.highlight {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  margin-top: 0.8em;
  margin-left: 7em;
  padding: 5px 10px;
  border: 1px solid #fff;
}

.company_highlight {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #c9ffd1;
}

.companies {
  margin-top: 1.25em;
}

.company_container {
  margin-top: 0.5em;
  width: 570px;
  height: 280px;
  background: #282828;
  border-radius: 6px;
  margin-top: 0.75em;
  padding-top: 1em;
  margin-bottom: 1.25em;
}

.profile_pic {
  width: 42px;
  height: 42px;
  background: #c9ffd1;
  border-radius: 100px;
  margin-left: 1em;
}

.profile_logo {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: #577a60;
  text-align: center;
  padding-top: 4px;
}

.comp_name {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  color: #ffffff;
  text-align: center;
  margin-top: -5px;
  margin-left: 0.5em;
}

.comp_ticker {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #949494;
}

.pct_change {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: #c9ffd1;
}

.money_change {
  font-family: "Roboto";
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  color: #cfcfcf;
}

.money_change span {
  font-family: "Roboto";
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  color: #a1a1a1;
}

.keyword_container {
  margin-top: 1em;
  margin-left: 4.25em;
}

.keyword {
  width: 6em;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  padding: 0.1em 0em;
  border: 1px solid #fff;
}

.list {
  margin-left: 4.25em;
  margin-top: 0.75em;
  list-style: inside;
  color: #ffffff;
}

.list span {
  margin-left: -0.5em;
}

.leaderboard {
  margin-top: 1.25em;
  margin-left: 1em;
}

.leader_container {
  margin-top: 0.5em;
  width: 464px;
  height: 580px;
  background: #282828;
  border-radius: 6px;
  margin-top: 0.75em;
  padding-top: 0.5em;
  margin-bottom: 1.5em;
}

.rank_table {
  border-collapse: collapse;
  width: 460px;
  margin: auto;
}

.table_color tr:nth-child(even) {
  background-color: #212121;
}

.rank_table th {
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  padding: 0.3em 1.5em;
  color: #ffffff;
}

.rank_table td {
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  padding: 0.5em 1.5em;
  color: #dadada;
}

.rank_table td span {
  color: #c9ffd1;
}

.comment {
  margin-top: 1.25em;
  margin-left: 1em;
}

.comment_container {
  margin-top: 0.5em;
  width: 464px;
  background: #282828;
  border-radius: 6px;
  margin-top: 0.75em;
  padding-top: 1em;
  margin-bottom: 1.5em;
}

.user_comment {
  margin: 0em auto;
  width: 430px;
  border: 1px solid #515151;
  margin-bottom: 0.5em;
}

.comment_profile_pic {
  width: 26px;
  height: 26px;
  background-color: #3f8dd6;
  color: #ffffff;
  font-weight: 600;
  border-radius: 8px;
  text-align: center;
  margin-top: 0.5em;
  margin-left: 1em;
}

.user_name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  margin-top: 0.55em;
  margin-left: 1em;
}

.season_tag {
  margin-top: 1em;
  margin-left: 2em;
  background: #bf972f;
  border-radius: 3px;
  color: #ffffff;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  height: 1.4em;
  padding: 0em 0.4em;
}

.date {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #c9c9c9;
  margin-top: 0.7em;
  margin-left: 10em;
}

.comment_text_section {
  margin-left: 1em;
  margin-top: 0.5em;
}

.comment_text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #ebebeb;
  width: 95%;
}

.like_button {
  width: 4em;
  height: 2em;
  border: 1px solid #515151;
  border-radius: 10px;
  margin-left: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.like_button:focus {
  background-color: #3f9d57;
}

.like_num {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #ffffff;
  padding-left: 0.5em;
}

.message_button {
  width: 4em;
  height: 2em;
  border: 1px solid #515151;
  border-radius: 10px;
  margin-left: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.show_more {
  margin: auto;
  padding: 0.25em 0em;
  border: 1px solid #515151;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #c9ffd1;
  text-align: center;
  width: 430px;
}

.leave_comment {
  border: 1px solid #c9ffd1;
  height: 6em;
  padding: 0.5em;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  width: 430px;
  color: #ffffff;
  margin-top: 1.75em;
  margin-bottom: 0.75em;
}
