.inline {
  display: inline-flex;
}

.tyle_btn {
  color: #ffffff;
  padding: 0.25em 0.75em;
  margin-left: 0.75em;
  border-radius: 5px;
}

.tyle_btn_shadow {
  color: #ffffff;
  padding: 0.25em 0.75em;
  margin-left: 0.75em;
  border-radius: 5px;
  background-color: #333333;
}

.tyle_btn:hover:not(:focus) {
  background-color: #252525;
}

.comp_type_container {
  height: 4.6em;
  width: 17em;
  padding-top: 0.6em;
  border-radius: 7px;
  margin-right: 2.25em;
}

.comp_type_container_shadow {
  box-shadow: 0 1px 14px 0 #6b9977, 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  height: 4.6em;
  width: 17em;
  padding-top: 0.6em;
  border-radius: 7px;
  margin-right: 2.25em;
}

.comp_type_container:hover:not(:focus) {
  background-color: #2c2c2c;
}

.comp_type_profile {
  width: 34px;
  height: 34px;
  color: #dfdfdf;
  font-weight: 500;
  border-radius: 100px;
  background-color: rgb(43, 53, 184);
  text-align: center;
  padding-top: 0.3em;
  margin-left: -6em;
}

.comp_type_name {
  color: #dfdfdf;
  font-size: 20px;
  margin-top: -0.5em;
  margin-left: 0.5em;
  width: 6em;
  text-align: left;
}

.comp_type_prices {
  margin-left: -1.5em;
  margin-top: -0.65em;
}

.comp_type_price {
  color: #dfdfdf;
  font-size: 16px;
}

.comp_type_price span {
  color: #a7a7a7;
  font-size: 12px;
}

.comp_type_pct_change {
  margin-left: 1em;
  color: #c9ffd1;
  font-size: 16px;
}