.inline {
  display: inline-flex;
}

.center {
  display: table;
  margin: auto;
}

.bg1 {
  padding-top: 2em;
  padding-bottom: 10em;
}

.bg2 {
  background-color: #ffffff;
  width: 99vw;
  padding-top: 2em;
  padding-bottom: 4em;
  padding: 10em 7vw;
  padding-bottom: 12em;
}

.container {
  display: table;
  margin: 7.5em auto 1.5em auto;
}

.header {
  font-size: 72px;
  font-weight: 700;
  text-align: center;
  margin-top: 0em;
  background-color: #f3ec78;
  background-image: linear-gradient(45deg, #81fa94, #618aec);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.intro {
  font-size: 24px;
  font-weight: 300;
  color: rgb(142, 142, 142);
  text-align: center;
  width: 38em;
  margin-top: 0.5em;
  margin-left: 1.25em;
}

.btns {
  display: table;
  margin: 0em auto;
  margin-top: 3em;
}

.join_btn {
  background-color: #c9ffd1;
  padding: 0.5em 2em;
  font-size: 22px;
  font-weight: 700;
  border-radius: 5px;
}

.join_btn:hover {
  box-shadow: 0 10px 8px 2px #c9ffd115;
}

.join_btn span {
  margin-left: 0.5em;
  font-weight: 400;
}

.view_btn {
  height: 2.55em;
  width: 12.5em;
  border: 0.5px solid #fff;
  /* padding: 0.5em 2em; */
  font-size: 22px;
  font-weight: 600;
  border-radius: 5px;
  color: #fff;
  margin-left: 1em;
}

.view_btn:hover {
  border: 1px solid #fff;
}

.video {
  border-radius: 10px;
}

.slogan {
  margin-top: 0.5em;
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  background-color: #f3ec78;
  background-image: linear-gradient(45deg, #81fa94, #618aec);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  line-height: 1.2;
  margin-left: 1em;
}

.social_media {
  margin-left: 3em;
  margin-top: 6em;
}

.info_header {
  font-size: 20px;
  font-weight: 500;
  color: #577a60;
  text-align: center;
}

.icons {
  display: inline-flex;
  margin-top: 1em;
}

.inline_cell {
  border: 1px solid #000;
  background-color: #1d1d1d;
  border-radius: 8px;
  margin-right: 2em;
  padding-right: 1em;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.7), 0 5px 30px 0 rgba(0, 0, 0, 0.5),
    0px 0px 5px 0.5px rgb(52, 52, 52) inset;
}

.inline_cell:hover {
  box-shadow: 0 5px 10px 0 #c9ffd152;
}

.bg3 {
  margin-top: 10em;
  width: 99vw;
}

.header1 {
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  background-color: #f3ec78;
  background-image: linear-gradient(45deg, #81fa94, #618aec);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.intro1 {
  font-size: 20px;
  font-weight: 300;
  color: rgb(142, 142, 142);
  width: 45em;
  text-align: center;
  margin-top: 0.75em;
}

.layer_one {
  display: table;
  margin: 0em auto 0em auto;
}

.layer_two {
  display: table;
  margin: 2.25em auto 0em auto;
}

.logo {
  margin-top: 1em;
  margin-left: 1em;
}

.inline_header {
  color: #e0e0e0;
  margin-left: 1em;
  font-size: 20px;
}

.inline_text {
  color: #aaaaaa;
  margin-left: 1.25em;
  font-size: 16px;
  line-height: 1.4;
  margin-top: 0.5em;
  margin-bottom: 1em;
  height: 3em;
  width: 15em;
}

.display_game {
  background-color: #202020;
  padding: 1em;
  border-radius: 10px;
  width: 76em;
  display: table;
  margin: 0em auto;
  margin-top: 2.5em;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2),
    0 6px 20px 0 rgba(255, 255, 255, 0.1);
}

.display_game1 {
  background-color: #202020;
  padding: 0.5em;
  border-radius: 10px;
  width: 76em;
  display: table;
  margin: 0em auto;
  margin-top: 3em;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2),
    0 6px 20px 0 rgba(255, 255, 255, 0.1);
}
.layer_three {
  display: table;
  margin: 0em auto 0em auto;
  margin-top: 10em;
}

.comment_from_developer {
  background-color: #ffffff;
  width: 99vw;
  padding-top: 7em;
  height: 60em
}

.subheader {
  font-size: 70px;
  font-weight: 500;
  width: 10em;
  line-height: 1.2;
  text-align: center;
  background-color: #f3ec78;
  background-image: linear-gradient(45deg, #81fa94, #618aec);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.subsubheader {
  font-size: 50px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  background-color: #f3ec78;
  background-image: linear-gradient(45deg, #81fa94, #618aec);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.logo_img {
  border: 1px solid #ffffff;
  margin-top: 2em;
}

.contact_info {
  margin-top: 5em;
  margin-left: 2em;
}

.name {
  font-size: 28px;
  color: #000;
}

.contact {
  font-size: 20px;
  color: #1d1d1d;
  padding: 0em 0.1px;
  width: 6em;
  margin-top: 0.5em;
  border-radius: 10px;
  text-align: center;
  background-color: #c9ffd1;
}

.contact1 {
  margin-top: 1em;
  font-size: 18px;
  color: #000;
  font-weight: 400;
}

.description {
  width: 30em;
  color: #000;
  margin-left: 4em;
  font-size: 18px;
  font-weight: 500;
}

.subheader1 {
  font-size: 70px;
  font-weight: 500;
  width: 14em;
  line-height: 1.2;
  text-align: center;
  background-color: #f3ec78;
  background-image: linear-gradient(45deg, #81fa94, #618aec);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.sub_intro {
  font-size: 30px;
  font-weight: 300;
  color: rgb(197, 197, 197);
  text-align: center;
  width: 22em;
  margin-top: 0.5em;
  margin-left: 0.5em;
}

.layer_top {
  display: table;
  margin: 0em auto;
}

.layer_four {
  display: table;
  margin: 0em auto 0em auto;
  margin-top: 5em;
  background-color: #202020;
  border-radius: 10px;
  padding: 2.5em;
  padding-right: 0em;
}

.model_name {
  border-radius: 10px;
  font-size: 18px;
  font-weight: 400;
  padding: 0.25em;
  text-align: center;
  width: 15em;
  margin-bottom: 0.75em;
}

.spreadsheet_pic {
  margin-left: 7em;
  margin-top: 0.9em;
  border: 1px solid #acacac;
  height: 403px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #1d1d1d;
  border-right: none;
}

.layer_five {
  display: table;
  margin: 0em auto;
  margin-top: 5em;
}

.charts1 {
  background-color: #202020;
  border-radius: 10px;
  padding: 2em;
  width: 37.5em;
}

.chart_list {
  color: #c9ffd1;
  margin-top: 2em;
}

.icon_styles {
  color: #577a60;
}

.timeline {
  margin-left: 10em;
  display: inline-flex;
}

.vl {
  border-left: 2px solid rgb(74, 74, 74);
  margin-left: 16em;
}

.vl1 {
  margin-left: 16em;
  border-left: 2px solid;
  border-bottom: 2px solid;
  border-image: linear-gradient(#618aec, #81fa94) 1;
  height: 14em;
  width: 20em;
}

.vl2 {
  margin-left: 16em;
  border-left: 2px solid #81fa94;
  margin-top: -1px;
}

.icon_box {
  margin-left: 16em;
  border: 1px solid #a6ffb3;
  height: 1em;
  width: 1em;
  border-radius: 3px;
  transform: rotateY(0deg) rotate(45deg);
  box-shadow: 0 0px 5px 5px #c9ffd152;
  margin-left: 45.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.circle {
  width: 14px;
  height: 14px;
  border-radius: 100px;
  border: 2px solid rgb(74, 74, 74);
  margin-left: 15.625em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.items {
  margin-left: 5em;
}

.sub_subheader {
  font-size: 36px;
  color: #ffffff;
  font-weight: 700;
  line-height: 1;
  background-color: #f3ec78;
  background-image: linear-gradient(45deg, #a6ffb3, #ecde61);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.sub_subintro {
  font-size: 20px;
  font-weight: 300;
  color: rgb(202, 202, 202);
  width: 36em;
  line-height: 1.2;
  margin-top: 2em;
}

.tl_img {
  position: absolute;
  background-color: #202020;
  padding: 0.5em;
  border-radius: 10px;
  display: table;
  margin: 0em auto;
  margin-left: 10em;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2),
    0 6px 20px 0 rgba(255, 255, 255, 0.1);
  z-index: 999;
}

.square_container {
  height: 7em;
  width: 7em;
  border: 1px solid #000;
  background-color: #1d1d1d;
  border-radius: 8px;
  margin-right: 2em;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.7), 0 5px 30px 0 rgba(0, 0, 0, 0.5),
    0px 0px 5px 0.5px rgb(52, 52, 52) inset;
  color: #c9ffd1;
  font-size: 20px;
  text-align: center;
  padding-top: 1.95em;
}

.square_container1 {
  height: 7em;
  width: 7em;
  border: 1px solid #000;
  background-color: #1d1d1d;
  border-radius: 8px;
  margin-right: 2em;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.7), 0 5px 30px 0 rgba(0, 0, 0, 0.5),
    0px 0px 5px 0.5px rgb(52, 52, 52) inset;
  color: #c9ffd1;
  font-size: 20px;
  text-align: center;
  padding-top: 2.6em;
}

.square_container:hover {
  box-shadow: 0 5px 10px 0 #c9ffd152;
}

.square_container1:hover {
  box-shadow: 0 5px 10px 0 #c9ffd152;
}

.letter_header{
  font-size: 54px;
  font-weight: 700;
}